.submit_heatmap_button{
    position: absolute;
    right:    0px;
    bottom:   20px;
    height:   70px;
    width:    140px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #008CBA;
    color : white; /* For the font color */
}

.listy{
    color : red;
    border-radius : 2px;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.label-heatmap {
    display : block !important;
    font-weight : bold !important;
}
